{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h2 class="text-center mt-3">Donne ton avis !</h2>

    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
                <p>
                    <a href="{{ path('conference', { id: conference.id }) }}">Voir</a>
                </p>
    {% endfor %}
{% endblock %}